{% extends 'base.html' %}

<style type="text/css">
    .mygird{

    }
</style>

{% block content %}
    <div class="container">
        <div class="my-grid d-flex flex-row">
            <p class="m-auto">item</p>
            <p class="m-auto">item</p>
            <p class="m-auto">item</p>
            <p class="m-auto">item</p>
            <p class="m-auto">item</p>
            <p class="m-auto">item</p>
            <p class="m-auto">item</p>
            <p class="m-auto">item</p>
            
        </div>
    </div>
{% endblock content %}