<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- makes the website mobile responsive -->
        <meta name="viewport" content="width=device-width ,initial-scale = 1, shrink-to-fit = no">
        <title>Chat App</title>
    </head>
    <body>
        <!-- header -->
        {% include 'snippets/header.html' %}
        {% include 'snippets/base.css' %}
        {% include 'snippets/base.js' %}
        <style type="text/css">
            .main{
                min-height: 100vh;
                height: 100%;
            }
        </style>
        
        <!-- body -->
        <div class="main">
            {% block content %}
                
            {% end block content %}
        </div>

        <!-- footer -->

        {% include 'snippets/footer.html' %}
    </body>
</html>